
    <p class="titleShell">element size</p>

    <article class="dimensionShell">

        <article class="widthShell">
            <article class="sizeShell">
                <p>w :  </p>
                <p *ngIf="Size !== undefined">{{Size.w}}</p>
            </article>

            <article class="behaviorShell">
                <p>behavior :  </p>
                <p>{{Behaviors.w}}</p>
            </article>
        </article>
        
        <article class="heightShell">
            <article class="sizeShell">
                <p>h :  </p>
                <p *ngIf="Size !== undefined">{{Size.h}}</p>
            </article>

            <article class="behaviorShell">
                <p>behavior :  </p>
                <p>{{Behaviors.h}}</p>
            </article>
        </article>

    </article>
