<section class="mainShell">

    <div class="lineDemo"></div>
    <div class="lineDemoC"></div>
    <div class="lineDemoB"></div>
    
    <!--<article class="lineShell">
        <div class="lineBox ultraFineDemo"></div>
        <p class="lineTitle">
            ultra fine
        </p>
    </article>--
    <line-size-display
        *ngFor="let i of Sizes"
        [Size]="i"
        [ShowSize]="ShowSize"
    ></line-size-display>-->

    <!--<article class="lineShell">
        <div class="lineBox" style="border-top-width: var(--line-fine);"></div>
        <p class="lineTitle">
            fine
        </p>
    </article>

    <article class="lineShell">
        <div class="lineBox" style="border-top-width: var(--line-light);"></div>
        <p class="lineTitle">
            light
        </p>
    </article>

    <article class="lineShell">
        <div class="lineBox" style="border-top-width: var(--line-narrow);"></div>
        <p class="lineTitle">
            narrow
        </p>
    </article>
    
    <article class="lineShell">
        <div class="lineBox" style="border-top-width: var(--line-semiBold);"></div>
        <p class="lineTitle">
            semi bold
        </p>
    </article>
    
    <article class="lineShell">
        <div class="lineBox" style="border-top-width: var(--line-bold);"></div>
        <p class="lineTitle">
            bold
        </p>
    </article>
    
    <article class="lineShell">
        <div class="lineBox" style="border-top-width: var(--line-semiThick);"></div>
        <p class="lineTitle">
            semi thick
        </p>
    </article>
    
    <article class="lineShell">
        <div class="lineBox" style="border-top-width: var(--line-thick);"></div>
        <p class="lineTitle">
            thick
        </p>
    </article>

    <article class="lineShell">
        <div class="lineBox" style="border-top-width: var(--line-semiWide);"></div>
        <p class="lineTitle">
            semi wide
        </p>
    </article>
    
    <article class="lineShell">
        <div class="lineBox" style="border-top-width: var(--line-wide);"></div>
        <p class="lineTitle">
            wide
        </p>
    </article>

    <article class="lineShell">
        <div class="lineBox" style="border-top-width: var(--line-ultraWide);"></div>
        <p class="lineTitle">
            ultra wide
        </p>
    </article>
    
    <article class="lineShell">
        <div class="lineBox" style="border-top-width: var(--line-jumbo);"></div>
        <p class="lineTitle">
            jumbo
        </p>
    </article>-->

</section>
