<div class="hiddenShell">

    <div style="width: 100vw; height: 100vh;">
    
        <div
            #triggerFrame
            class="mainShell"
            style="width: var(--WidthMaster); height: var(--HeightMaster);"
        ></div>
        
            <div
                #elementSizeWreader
                class="reader"
                style="width: var(--WidthEquation);"
            ></div>
        
            <div
                #elementSizeHreader
                class="reader"
                style="width: var(--HeightEquation);"
            ></div>
        
        
        
            <div
                #crushWmasterReader
                class="reader"
                style="width: var(--crushGap-w);"
            ></div>
        
            <div
                #crushHmasterReader
                class="reader"
                style="width: var(--crushGap-h);"
            ></div>
        
            <div
                #crushWelementReader
                class="reader"
                style="width: var(--Crush-w-size);"
            ></div>
            
            <div
                #crushHelementReader
                class="reader"
                style="width: var(--Crush-h-size);"
            ></div>
        
        
        
            <div
                #squishGrowthWmasterReader
                class="reader"
                style="width: var(--SquishGrowthMaster-w);"
            ></div>
        
            <div
                #squishGrowthHmasterReader
                class="reader"
                style="width: var(--SquishGrowthMaster-h);"
            ></div>
        
            <div
                #squishGrowthWmaxCoreSizeReader
                class="reader"
                style="width: var(--SquishTotal-w);"
            ></div>
        
            <div
                #squishGrowthHmaxCoreSizeReader
                class="reader"
                style="width: var(--SquishTotal-h);"
            ></div>
        
            <div
                #squishGrowthWmaxNudgeSizeReader
                class="reader"
                style="width: var(--SquishGrowthMaxNudgeEquation-w);"
            ></div>
        
            <div
                #squishGrowthHmaxNudgeSizeReader
                class="reader"
                style="width: var(--SquishGrowthMaxNudgeEquation-h);"
            ></div>
        
        
        
            <div
                #baseSizeWmasterReader
                class="reader"
                style="width: var(--BaseSize-w-master);"
            ></div>
        
            <div
                #baseSizeHmasterReader
                class="reader"
                style="width: var(--BaseSize-h-master);"
            ></div>
        
            <div
                #baseSizeWcoreReader
                class="reader"
                style="width: var(--baseSize-w);"
            ></div>
        
            <div
                #baseSizeHcoreReader
                class="reader"
                style="width: var(--baseSize-h);"
            ></div>
        
            <div
                #baseSizeWnudgeReader
                class="reader baseSizeWnudge"
            ></div>
        
            <div
                #baseSizeHnudgeReader
                class="reader baseSizeHnudge"
            ></div>
        
        
        
            <div
                #edgeChaseWmasterReader
                class="reader"
                style="width: var(--EdgeChase-w-master);"
            ></div>
        
            <div
                #edgeChaseHmasterReader
                class="reader"
                style="width: var(--EdgeChase-h-master);"
            ></div>
        
            <div
                #edgeChaseWcoreReader
                class="reader"
                style="width: var(--edgeChase-w);"
            ></div>
        
            <div
                #edgeChaseHcoreReader
                class="reader"
                style="width: var(--edgeChase-h);"
            ></div>
        
            <div
                #edgeChaseNudgeSizeWreader
                class="reader edgeChaseWnudge"
            ></div>
        
            <div
                #edgeChaseNudgeSizeHreader
                class="reader edgeChaseHnudge"
            ></div>
        
            <div
                #edgeChaseWelementReader
                class="reader"
                style="width: var(--EdgeChase-w-size);"
            ></div>
            
            <div
                #edgeChaseHelementReader
                class="reader"
                style="width: var(--EdgeChase-h-size);"
            ></div>
        
        
        
            <div
                #chaseStopWmasterReader
                class="reader"
                style="width: var(--chaseStop-w-master);"
            ></div>
        
            <div
                #chaseStopHmasterReader
                class="reader"
                style="width: var(--chaseStop-h-master);"
            ></div>
        
            <div
                #chaseStopWcoreReader
                class="reader"
                style="width: var(--chaseStop-w);"
            ></div>
        
            <div
                #chaseStopHcoreReader
                class="reader"
                style="width: var(--chaseStop-h);"
            ></div>
        
            <div
                #chaseStopWnudgeReader
                class="reader chaseStopWnudge"
            ></div>
        
            <div
                #chaseStopHnudgeReader
                class="reader chaseStopHnudge"
            ></div>
            
            <div
                #chaseStopToggleW
                class="reader chaseStopWnudge"
                style="width: var(--ChaseStopToggle-w);"
            ></div>
        
            <div
                #chaseStopToggleH
                class="reader chaseStopHnudge"
                style="width: var(--ChaseStopToggle-h);"
            ></div>
        
        
        
            <div
                #stretchShrinkWmasterReader
                class="reader"
                style="width: var(--StretchShrinkEquation-w);"
            ></div>
        
            <div
                #stretchShrinkHmasterReader
                class="reader"
                style="width: var(--StretchShrinkEquation-h);"
            ></div>
        
            <div
                #stretchShrinkWminCoreSizeReader
                class="reader"
                style="width: var(--StretchShrinkMinEquation-w);"
            ></div>
        
            <div
                #stretchShrinkHminCoreSizeReader
                class="reader"
                style="width: var(--StretchShrinkMinEquation-h);"
            ></div>
        
            <div
                #stretchShrinkWminNudgeSizeReader
                class="reader"
                style="width: var(--StretchShrinkMinNudgeEquation-w);"
            ></div>
        
            <div
                #stretchShrinkHminNudgeSizeReader
                class="reader"
                style="width: var(--StretchShrinkMinNudgeEquation-h);"
            ></div>

            <div
                #stretchShrinkWequation
                class="reader"
                style="width: var(--StretchShrinkEquation-w);"
            ></div>
            
            <div
                #stretchShrinkHequation
                class="reader"
                style="width: var(--StretchShrinkEquation-h);"
            ></div>
    </div>

</div>

