<!--<section class="textShell">
    <p style="font-size: var(--jumbotronText-1);">
        Jumbotron Text
    </p>
    
    <p style="font-size: var(--jumbotronText-2);">
        Jumbotron Text
    </p>
    
    <p style="font-size: var(--jumbotronText-3);">
        Jumbotron Text
    </p>
    
    <p style="font-size: var(--jumbotronText-4);">
        Jumbotron Text
    </p>

    <p style="font-size: var(--jumbotronText-5);">
        Jumbotron Text
    </p>
</section>-->

<section class="textShell">


    <p style="font-size: var(--text-jumbotron-1);">
        Jumbotron Text
    </p>

    <p style="font-size: var(--text-headline-1);">
        Headline Text
    </p>

    <p style="font-size: var(--text-title-1);">
        Title Text
    </p>

    <p style="font-size: var(--text-subtitle-1);">
        Subtitle Text
    </p>

    <p style="font-size: var(--text-article-1);">
        Article Text
    </p>

    <p style="font-size: var(--text-widget-1);">
        Widget Text
    </p>
    
    <p style="font-size: var(--text-caption-1);">
        Caption Text
    </p>


</section>
