:host{
    display: grid;
    grid-row-gap: var(--mt-9);
}

.reader{
    display: block;
    opacity: 0;
    height: 0px;
}

.titleShell{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: var(--micro-1-3);
    width: max-content;
}

p{
    margin: 0;
}

.title{
    font-size: var(--text-widget-3);
}

.readout{
    font-size: var(--text-caption-2);
}

.pxShell{
    font-size: var(--text-caption-1);
}