<srcry-box-reader
    class="srcryBox"
    [style]="SrcryStyles | async"
></srcry-box-reader>

<!--<div #fullBoxReader class="srcryBox boxShell" [style]="SrcryStyles | async">
    <div class="coreBox"></div>

    <div #coreSizeWReader class="reader" style="width: var(--baseSize-w);"></div>
    <div #nudgeSizeWReader class="reader" style="width: var(--baseSize-w-nudge-master);"></div>
    <div #coreSizeHReader class="reader" style="width: var(--baseSize-h);"></div>
    <div #nudgeSizeHReader class="reader" style="width: var(--baseSize-h-nudge-master);"></div>
    <div #fullWReader class="reader" style="width: var(--WidthMaster);"></div>
    <div #fullHReader class="reader" style="width: var(--HeightMaster);"></div>
    <div class="reader">
        <srcry-box-reader class="srcryBox" [style]="SrcryStyles | async"></srcry-box-reader>
    </div>

</div>-->

<!--<p>{{TestProp$}} testing testing</p>-->
<!--<p>{{BoxStyles$ | async | json}}</p>-->
<!--<p>{{SrcryStyles | async | json}}</p>-->
