<section>
    <button type="button" (click)="updateSize('all')">All</button>
    <button type="button" (click)="updateSize('caption')">Caption</button>
    <button type="button" (click)="updateSize('widget')">Widget</button>
    <button type="button" (click)="updateSize('article')">Article</button>
    <button type="button" (click)="updateSize('subtitle')">Subtitle</button>
    <button type="button" (click)="updateSize('title')">Title</button>
    <button type="button" (click)="updateSize('headline')">Headline</button>
    <button type="button" (click)="updateSize('jumbotron')">Jumbotron</button>
</section>