.page{
    display: grid;
}

.testBox{
    display: grid;
    background-color: aqua;
    --crushGap-w: var(--mt-22);
    --baseSize-w: var(--loMed-1-4);
    --baseSize-w-nudge-slice: 33;
    --baseSize-w-nudge-chunk: 8;
    --baseSize-h: var(--small-1-3);
    --baseSize-h-nudge-slice: 33;
   /*width: var(--ChaseStop-w-master);
    height: var(--chaseStop-h);*/
}